version: '3'
services:
  fluentd:
    build: .
    restart: unless-stopped
    container_name: fluentd
    volumes:
    - ./fluentd/etc:/fluentd/etc
    - ./fluentd/log:/var/log
    depends_on:
      - influxdb

  influxdb:
    image: influxdb:1.8
    restart: unless-stopped
    container_name: influxdb
    expose:
      - 8086
    environment:
      - "INFLUXDB_HTTP_AUTH_ENABLED=true"
      - "INFLUXDB_ADMIN_USER=influxdb"
      - "INFLUXDB_ADMIN_PASSWORD=influxdb"
      - "INFLUXDB_META_DIR=/var/lib/influxdb/meta"
      - "INFLUXDB_DATA_DIR=/var/lib/influxdb/data"
      - "INFLUXDB_DATA_WAL_DIR=/var/lib/influxdb/wal"
    volumes:
      - ./influxdb/etc:/etc/influxdb
      - ./influxdb/lib:/var/lib/influxdb
      - ./influxdb/etc/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d

  grafana:
    image: grafana/grafana
    restart: unless-stopped
    container_name: grafana
    expose:
      - 3000
    ports:
      - 3000:3000
    environment:
      - "GF_DEFAULT_APP_MODE=production"
      - "GF_DEFAULT_INSTANCE_NAME=(>_<)"
      - "GF_SERVER_SERVE_FROM_SUB_PATH=true"
      - "GF_SERVER_ROOT_URL=http://localhost:3000/"
      - "GF_PATHS_CONFIG=/etc/grafana/grafana.ini"
      - "GF_PATHS_DATA=/var/lib/grafana"
      - "GF_PATHS_LOGS=/var/log/grafana"
      - "GB_PATHS_PROVISIONING=/etc/grafana/provisioning"
      - "GF_LOG_MODE=file"
      - "GF_INSTALL_PLUGINS=grafana-piechart-panel,grafana-worldmap-panel,flant-statusmap-panel"
      - "GF_SECURITY_ADMIN_USER=admin"
      - "GF_SECURITY_ADMIN_PASSWORD=admin"
      - "GF_USERS_ALLOW_SIGN_UP=false"
    volumes:
      - ./grafana/lib:/var/lib/grafana
    depends_on:
      - influxdb